@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,400italic,700);

* {
	box-sizing: border-box;
}

body {
	font-family: "Titillium Web";
	margin: 0;
	padding: 0;
	max-width: 100%;
	font-size: 1em;
}

.wrapper {
	max-width: 1140px;
	margin: 0 auto;
	color: #000;
	padding: 0 20px;
	padding-top: 100px;
	padding-bottom: 80px;
	text-align: center;
}



/* ОБЩИЕ ЭЛ-ТЫ */
.title {
	font-size: 2.625em;
	line-height: 1.2em;
	color: #f7f3eb;
	font-weight: 700;
	margin: 0 auto;
	margin-bottom: 15px;
	text-transform: uppercase;
}

.separator {
	max-width: 87px;
	height: 4px;
	background: url("../images/separator-line.png") no-repeat;
	margin: 0 auto;
	margin-bottom: 21px;
}

.description {
	margin: 0 auto;
	color: #ffffff;
	font-size: 1.15em;
	line-height: 1.5em;
	margin-bottom: 75px;
}

.header-box {
	top: 0px;
	max-width: 100%;
	min-height: 94px;
	background-color: #87509c;
}

.header-box .wrapper {
	padding-bottom: 0;
}

.header {
	position: relative;
	padding-top: 57px;
	text-align: left;
}
.header .top-menu {
	position: absolute;
	list-style: none;
	text-align: right;
	right: 0;
	bottom: 6px;
	margin: 0;
	padding: 0;
}

.header .top-menu .menu-item {
	display: inline-block;
	padding: 0;
	margin: 0;
}

.header .top-menu .menu-link {
	text-decoration: none;
	color: #ffffff;
	text-transform: uppercase;
	padding: 6px 17px;
	font-size: 1em;
	border-radius: 4px;
}

.header .top-menu .menu-link:hover,
.top-menu .active {
	background-color: #643a79;
}

.welcome-box {
	min-width: 100%;
	background-color: #87509c;
	min-height: 500px;
}

.welcome .title {
	: 906px;
	margin-bottom: 80px;
	text-transform: none;
}

.button {
	display: block;
	max-width: 293px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.1em;
	text-align: center;
	color: #f7f3eb;
	border: none;
	background-color: #eb7d4b;
	border-radius: 4px;
	margin: 0 auto;
	padding: 28px 0;	
}

.button:hover {
	box-shadow: 0px 5px rgba(0, 0, 0, 0.15);
}



/* SERVICES */
.service-box {
	background-color: #17c2a4;
	min-height: 747px;
}

.service .description {
	max-width: 603px;
}

.item-box {
	display: inline-block;
	max-width: 200px;
	vertical-align: top;
	word-spacing: normal;
/*	margin-right: 75px; */
}

.item-box-wrapper {
	word-spacing: 4em;
}


.item-box .title {
	max-width: 200px;
	font-size: 1.5em;
}

.item-box .description {
	max-width: 200px;
	font-size: 1em;
	margin-bottom: 0;
}

.service .item-1 .photo {
	background: url(../images/Flag-icon.png) no-repeat 50% 50%;
}

.service .item-2 .photo {
	background: url(../images/Crayon-icon.png) no-repeat 50% 50%;
}

.service .item-3 .photo {
	background: url(../images/Gears-icon.png) no-repeat 50% 50%;
}

.service .item-4 .photo{
	background: url(../images/Rocket-icon.png) no-repeat 50% 50%;
}

.item-box.item-4 {
	margin-right: 0;
}

.service .item-box .photo {
	margin-bottom: 20px;
}



/* OUR TEAM */
.team-box {
	background-color: #e7f1f8;
	min-height: 915px;
}

.team .title {
	color: #3c4661;
}

.team .description {
	color: #3c4661;
}

.team .item-box {
	background: none;
	padding: 0; /* TO DO: поправить паддинг для .item-box*/
}

.item-box .photo {
	width: 200px;
	height: 200px;
	background-color: #878787;
	background-repeat: no-repeat;
	border-radius: 50%;
	margin-bottom: 40px;
}

.team .item-1 .photo {
	background-image: url(../images/photo-ceo.jpg);
}

.team .item-2 .photo {
	background-image: url(../images/photo-creative.jpg);
}

.team .item-3 .photo {
	background-image: url(../images/photo-lead.jpg);
}

.team .item-4 .photo {
	background-image: url(../images/photo-seo.jpeg);
}

.item-box .position {
	font-size: 1em;
	color: #30bae7;
	margin-bottom: 10px;
}

.team .item-box .description {
	color: #3c4761;
	padding-bottom: 25px;
}

.team .item-box .social {
	display: inline-block;
	text-decoration: none;
	max-width: 32px;
	height: 32px;
	border-radius: 50%;
	background-color: #bdd1df;
	margin-right: 12px;
}

.team .item-box .fb {
	background: url(../images/Facebook-Icon.png) no-repeat 50% 50% #bdd1df;
}

.team .item-box .twi {
	background: url(../images/Twitter.png) no-repeat 50% 50% #bdd1df;
}

.team .item-box .ln {
	background: url(../images/LinkedIn-icon.png) no-repeat 50% 50% #bdd1df;
}

.team .item-box .mail {
	background: url(../images/Mail.png) no-repeat 50% 50% #bdd1df;
	margin-right: 0;
}

	/* Скрываем лишние социальные кнопочки */
.team .item-box .hidden {
	display: none;
}



/* SKILLS */
.skills-box {
	background-color: #ffffff;
	min-height: 655px;
}

.skills .title {
	color: #3c4761;
}

.skills	.description {
	color: #3c4761;
	max-width: 568px;
}

	/*.skills item-box */
.skills .item-box .title {
	max-width: 200px;
}

.skills .item-box .photo {
	padding: 62px;
	font-size: 3em;
	vertical-align: middle;
	margin-bottom: 10px;
}

.skills .item-1 .photo {
	background: url(../images/Progress-aqua.png) no-repeat 50% 50%;
}

.skills .item-2 .photo {
	background: url(../images/Progress-pink.png) no-repeat 50% 50%;
}

.skills .item-3 .photo {
	background: url(../images/Progress-green.png) no-repeat 50% 50%;
}

.skills .item-4 .photo {
	background: url(../images/Progress-orange.png) no-repeat 50% 50%;
}

.two-col-wrapper {
	word-spacing: 4em;
}


/* PORTFOLIO */
.portfolio-box {
	background-color: #ffdd99;
	min-height: 1423px;
}

.portfolio .title {
	color: #393939;
}

.portfolio .description {
	max-width: 515px;
	margin-bottom: 40px;
	color: #393939;
}

.portfolio .portfolio-link {
	display: inline-block;
	width: 90px;
	height: 38px;
	padding-top: 7px;
	text-transform: uppercase;
	background-color: #000000;
	background-color: rgba(0, 0, 0, 0.08);
	text-decoration: none;
	color: #393939;
	border-radius: 4px;
	margin-bottom: 65px;
}

.portfolio .portfolio-link:hover {
	background-color: #ffffff;
}

.portfolio .item-box {
	margin-bottom: 55px;
}

.portfolio .two-col-wrapper {
	word-spacing: 1em;	
}

.two-col {
	display: inline-block;
	margin: 0;
	height: auto;
	max-width: 540px;
	border-radius: 0;
	background: none;
}

.portfolio .photo {
	margin: 0;
	height: auto;
	width: 540px;
	border-radius: 0;
	background: none;
	margin-bottom: 20px;
}

.portfolio .item-box .title {
	max-width: 100%;
	font-size: 1.2em;
	font-weight: normal;
	color: #393939;
}

.portfolio .button {
	margin-top: 15px;
	background-color: #17c2a4;
}



/* FEATURES */
.features-box {
	background-color: #d74680;
	min-height: 895px;
}

.features .item-box {
	margin-bottom: 80px;
}

.features .photo {
	float: left;
	width: 96px;
	height: 96px;
}

.features .item-1 .photo {
	background: url(../images/photo-ceo.jpg) no-repeat 50% 50% #787878;
	background-size: contain;
}

.features .item-2 .photo {
	background: url(../images/photo-seo.jpeg) no-repeat 50% 50% #787878;
	background-size: contain;
}

.features .item-3 .photo {
	background: url(../images/photo-creative.jpg) no-repeat 50% 50% #787878;
	background-size: contain;
}

.features .item-4 .photo {
	background: url(../images/photo-lead.jpg) no-repeat 50% 50% #787878;
	background-size: contain;
}

.features .two-col {
	max-width: 450px;
}


.features .item-box .description {
	max-width: 100%;
	padding-top: 10px;
	margin-left: 140px;
	text-align: left;
	font-size: 1.2em;
	font-style: italic;
	margin-bottom: 25px;
}

.features .item-box .title {
	max-width: 100%;
	text-align: left;
	margin-left: 140px;
	margin-bottom: 0;
}

.features .item-box .position {
	font-size: 1.2em;
	color: #ffdd99;
	text-align: left;
	margin-left: 140px;
}



/* CONTACT US*/
.contact-us-box {
	background-color: #3c5499;
	min-height: 819px;
}
form {
	max-width: 860px;
	margin: 0 auto;
}

.input-wrapper {
	word-spacing: 1.8em;
}

input {
	padding: 20px 25px;
	margin-bottom: 27px;
	background-color: #273a71;
	border: none;
	border-radius: 4px;
	width: 48%;
	color: #fff;
}

textarea {
	padding: 20px 25px;
	box-sizing: border-box;
	display: block;
	width: 100%;
	margin: 0 auto;
	border: none;
	border-radius: 4px;
	background-color: #273a71;
	min-height: 200px;
	margin-bottom: 59px;
	color: #fff;
}

button {
	width: 293px;
}

.footer-box {
	background-color: #344b8e;
	min-height: 112px;
	padding-top: 40px;
}


.footer-menu {
	max-width: 1140px;
	padding: 0;
	margin: 0;
	list-style: none;
	margin: 0 auto;
	text-align: center;
	word-spacing: 3em;
}

.footer-menu .menu-item {
	display: inline-block;
}

.footer-menu .menu-item a {
	text-decoration: none;
	color: #ffffff;
	font-weight: 600;
	font-size: 1.5em;
}

.footer-menu .menu-item a:hover {
	color: #30bae7;
}

@media all and (max-width: 865px) {
	input {
		width: 100%;
	}
}

@media all and (max-width: 550px) {
	input {
		width: 100%;
	}
	.portfolio .photo {
	margin: 0;
	height: auto;
	max-width: 200px;
	border-radius: 0;
	background: none;
	margin-bottom: 20px;
	}
	
}